ClientTestIntermediary/WebContent/wsdl/TestAppSOAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mdp.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.mdp.etf.unibl.org" xmlns:intf="http://service.mdp.etf.unibl.org" xmlns:tns1="http://model.mdp.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.mdp.etf.unibl.org"/>
   <element name="checkIfPassed">
    <complexType>
     <sequence>
      <element name="personID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkIfPassedResponse">
    <complexType>
     <sequence>
      <element name="checkIfPassedReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkIfActive">
    <complexType>
     <sequence>
      <element name="client" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkIfActiveResponse">
    <complexType>
     <sequence>
      <element name="checkIfActiveReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPoliceControl">
    <complexType>
     <sequence>
      <element name="client" type="xsd:string"/>
      <element name="personID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPoliceControlResponse">
    <complexType/>
   </element>
   <element name="addBorderControl">
    <complexType>
     <sequence>
      <element name="client" type="xsd:string"/>
      <element name="document" type="tns1:Document"/>
     </sequence>
    </complexType>
   </element>
   <element name="addBorderControlResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Document">
    <sequence>
     <element name="document" nillable="true" type="xsd:base64Binary"/>
     <element name="personID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkIfActiveRequest">

      <wsdl:part element="impl:checkIfActive" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBorderControlRequest">

      <wsdl:part element="impl:addBorderControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPoliceControlRequest">

      <wsdl:part element="impl:addPoliceControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkIfPassedRequest">

      <wsdl:part element="impl:checkIfPassed" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBorderControlResponse">

      <wsdl:part element="impl:addBorderControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkIfPassedResponse">

      <wsdl:part element="impl:checkIfPassedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkIfActiveResponse">

      <wsdl:part element="impl:checkIfActiveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPoliceControlResponse">

      <wsdl:part element="impl:addPoliceControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestAppSOAPService">

      <wsdl:operation name="checkIfPassed">

         <wsdl:input message="impl:checkIfPassedRequest" name="checkIfPassedRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkIfPassedResponse" name="checkIfPassedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkIfActive">

         <wsdl:input message="impl:checkIfActiveRequest" name="checkIfActiveRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkIfActiveResponse" name="checkIfActiveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPoliceControl">

         <wsdl:input message="impl:addPoliceControlRequest" name="addPoliceControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPoliceControlResponse" name="addPoliceControlResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBorderControl">

         <wsdl:input message="impl:addBorderControlRequest" name="addBorderControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:addBorderControlResponse" name="addBorderControlResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestAppSOAPServiceSoapBinding" type="impl:TestAppSOAPService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkIfPassed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkIfPassedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkIfPassedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkIfActive">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkIfActiveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkIfActiveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPoliceControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPoliceControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPoliceControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBorderControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addBorderControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addBorderControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestAppSOAPServiceService">

      <wsdl:port binding="impl:TestAppSOAPServiceSoapBinding" name="TestAppSOAPService">

         <wsdlsoap:address location="http://localhost:8080/ClientTestIntermediary/services/TestAppSOAPService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
